<h1>Empleados</h1>

<p>This component demonstrates fetching
    <strong>EMP</strong> data from the server.</p>

<p *ngIf="!empleados">
    <em>Loading...</em>
</p>

<p-paginator rows="{{PageSize}}" totalRecords="{{totalRecords}}" (onPageChange)="paginate($event)"></p-paginator>
<p-table [columns]="cols" [value]="empleados" [lazy]="true" (onLazyLoad)="loadEmpleadosLazy($event)" [paginator]="false"
    [rows]="PageSize" [totalRecords]="totalRecords">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>
<p-paginator rows="{{PageSize}}" totalRecords="{{totalRecords}}" (onPageChange)="paginate($event)"></p-paginator>