<h1>Empleados</h1>

<p>This component demonstrates fetching
  <strong>EMP</strong> data from the server.</p>

<p *ngIf="!empleados">
  <em>Loading...</em>
</p>

<table class='table' *ngIf="empleados">
  <thead>
    <tr>
      <th>Código</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Documento</th>
      <th>Estado</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let empleado of empleados">
      <td>{{ empleado.EMPLEADO }}</td>
      <td>{{ empleado.NOMBRE }}</td>
      <td>{{ empleado.APELLIDO }}</td>
      <td>{{ empleado.DOCTO_IDENT }}</td>
      <td>{{ empleado.ESTADO=='' ? 'Activo' : 'Retirado' }}</td>
    </tr>
  </tbody>
</table>